.wheel-container {
  text-align: center;
}

/* WRAPPER */

.wheel-wrapper {
  display: flex;

  justify-content: center;

  margin-bottom: 40px;
}

/* WHEEL */

.wheel {
  width: 320px;
  height: 320px;

  border-radius: 50%;

  border: 10px solid white;

  position: relative;

  overflow: hidden;

  transition:
    transform 4s cubic-bezier(
      0.17,
      0.67,
      0.12,
      0.99
    );

  background:
    conic-gradient(
      #3b82f6 0deg 90deg,
      #2563eb 90deg 180deg,
      #1d4ed8 180deg 270deg,
      #1e40af 270deg 360deg
    );
}

/* SLICES */

.slice {
  position: absolute;

  width: 120px;
  height: 120px;

  top: 50%;
  left: 50%;

  transform-origin: center center;

  display: flex;

  align-items: center;
  justify-content: center;

  font-size: 28px;

  font-weight: bold;

  color: white;
}

/* POSITIONS */

.slice:nth-child(1) {
  transform:
    translate(-50%, -50%)
    rotate(0deg)
    translateY(-110px);
}

.slice:nth-child(2) {
  transform:
    translate(-50%, -50%)
    rotate(90deg)
    translateY(-110px);
}

.slice:nth-child(3) {
  transform:
    translate(-50%, -50%)
    rotate(180deg)
    translateY(-110px);
}

.slice:nth-child(4) {
  transform:
    translate(-50%, -50%)
    rotate(270deg)
    translateY(-110px);
}

/* RESULT */

.wheel-result {
  margin-top: 32px;

  font-size: 32px;

  font-weight: bold;
}