<nav class="navbar">

  <div class="container navbar-container">

    <a href="/" class="logo">
      Korhan
    </a>

    <!-- Hamburger Button -->

    <button class="menu-toggle" id="menu-toggle">
      ☰
    </button>
    <button class="theme-toggle" id="theme-toggle">
    🌙
    </button>
    <!-- Navigation -->

    <ul class="nav-links" id="nav-links">

      <li>
        <a href="/">Ana Sayfa</a>
      </li>

      <li>
        <a href="/pages/about/">Hakkımda</a>
      </li>

      <li>
        <a href="/pages/games/">Oyunlar</a>
      </li>

      <li>
        <a href="/pages/apps/">Uygulamalar</a>
      </li>

      <li>
        <a href="/pages/store/">Store</a>
      </li>

      <li>
        <a href="/pages/blog/">Blog</a>
      </li>
      
      <li>
        <a href="/pages/gumruk/">Gümrük</a>
      </li>
      <li>
        <a href="/pages/3d/">3D</a>
      </li>  
    </ul>

  </div>

</nav>
