<footer class="footer">

  <div class="container footer-container">

    <div class="footer-left">

      <h3>
        Korhan Onat ÖRS
      </h3>

      <p>
        Kişisel web sitesi
      </p>

    </div>

    <div class="footer-right">

      <a href="https://instagram.com/korhanors" target="_blank">
        Instagram
      </a>

      <a href="https://github.com/mithdreamer" target="_blank">
        GitHub
      </a>

      <a href="https://www.youtube.com/@ksathria" target="_blank">
        YouTube
      </a>
      <a href="https://www.linkedin.com/in/korhan-onat-%C3%B6rs-3467683/" target="_blank">
        LinkedIn
      </a>

      <a href="mailto:korhanors@gmail.com">
        Email
      </a>

    </div>

  </div>

</footer>