.choices {
  display: flex;

  justify-content: center;

  gap: 24px;

  flex-wrap: wrap;

  margin-bottom: 40px;
}

/* BUTTON */

.choice-btn {
  padding: 20px 32px;

  border-radius: var(--radius-md);

  background-color: var(--color-primary);

  color: white;

  font-size: 20px;

  font-weight: bold;

  transition: 0.2s ease;
}

.choice-btn:hover {
  transform: translateY(-4px);
}

/* COMPUTER */

.computer-choice {
  text-align: center;

  margin-bottom: 24px;

  font-size: 28px;
}

/* RESULT */

.game-result {
  text-align: center;

  font-size: 36px;

  font-weight: bold;
}